
  .companyprofile {
    width: 180px;                     /* Width of profile picture */
    height: 180px;                    /* Height of profile picture */
    margin-bottom: 56px !important;            /* Space below profile - changed from 20px to 32px */
    border: 1px solid black;          /* Border for profile */
    border-radius: 50%;               /* Circular profile */
    position: relative;                /* Position relative for absolute positioning of child elements */
    background-image: url('../../assets/Gm.png');
    background-size: cover;            /* Cover the entire area */
    background-position: center;       /* Center the image */
    background-repeat: no-repeat;      /* Do not repeat the image */
}

  