.registration-form {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 32px; /* Space below the title */
  font-size: 24px; /* Font size for the title */
  color: #600000; /* Dark red color for the title */
  text-align: center; /* Center the title */
}

.form-group {
  margin-bottom: 18px;
}

.form-input {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #350606;
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Smooth transition for border */
}

.form-input:focus {
  border-color: #350606;
  outline: none;
}

/* Change placeholder color to red */
.form-input::placeholder {
  color: #4a0505bc; /* Dark red for placeholders */
}

.form-button {
  width: 100%; /* Set button width to 100% for better alignment */
  padding: 12px;
  background-color: #7e0c0c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.form-button:hover {
  background-color: #a40c0c;
}

/* Style for Log in text */
.login-text {
  margin-top: 28px; /* Space above the text */
  text-align: center; /* Center the text */
  font-size: 14px; /* Font size for the text */
}

.login-text a {
  color: #7e0c0c; /* Link color */
  text-decoration: none; /* Remove underline from link */
}

.login-text a:hover {
  text-decoration: underline; /* Underline link on hover */
}
