body{
    margin: 0;
    padding: 0;
}

.App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9f9d9d4d; /* Light gray background for the whole app */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    color: rgb(109, 4, 4);
    margin-bottom: -4px;
    font-size: 24px;
  }
  
  /* New style for the registration form background */
  .registration-form {
    background-color: white; /* White background for the form */
    padding: 20px; /* Optional: add some padding */
    border-radius: 8px; /* Optional: round corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: soft shadow for depth */
  }
  